.interior-detail-title {
    font-weight: bold;
    font-size: 20px;
    margin: 10px auto;
    width: 70%;
    display: flex;
    gap: 10px;
    align-items: center;
    word-break: break-all;
}
.interior-detail-category {
    border-radius: 10px;
    background-color: var(--main--red--color);
    color: #fff;
    padding: 10px;
}
.interior-detail-img {
    width: 70%;
    margin: 0 auto 10px auto;
    display: flex;
    max-height: 450px;
    object-fit: cover;
}
.interior-detail-info {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 10px auto;
    align-items: center;
}
.author-info {
    display: flex;
    align-items: center;
    gap: 5px;
}
.author-info p {
    font-size: 20px;
}
.author-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.interior-detail-user-btns {
    text-decoration: underline;
    /* text-underline-offset: 2px; */
    display: flex;
    color: var(--dark--gray--color);
    gap: 10px;
}
 .btn-success,
 .btn-warning,
 .btn-info {
    cursor: default;
 }

.btn {
    font-size: 16px;
}
.interior-detail-info2 {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin: 10px auto;
}
.interior-detail-btns {
    display: flex;
    gap: 10px;
    align-items: center;
}
.interior-detail-btns button {
    display: flex;
}
.interior-detail-btns > a {
    text-decoration: underline;
}
.interior-detail-btns img {
    width: 30px;
}
.interior-detail-content {
    width: 70%;
    margin: 10px auto;
}
.furniture-list h3 {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
.furniture-list ul {
    width: 70%;
    display: flex;
    gap: 10px;
    margin: 10px auto;
    justify-content: center;
}
.furniture-list li {
    background-color: var(--main--red--color);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    color: #fff;
}

/* 댓글 */
.comment-line {
    border-top: 7px solid var(--light--gray--color);
    padding-top: 20px;
}
.interior-detail-comment-title {
    width: 70%;
    margin: 10px auto;
    
}
.comment-line {
    border-top: 7px solid var(--light--gray--color);
    padding-top: 20px;
}
.interior-container form>p {
    display: flex;
    justify-content: center;
}
.interior-detail-comment-btn {
    background-color: var(--main--red--color);
    color: #fff;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    font-family: "Noto Sans KR", sans-serif;
    position: absolute;
    right: calc(((100vw - 70%) / 2) + 10px);
    bottom: 10px;
}
.main-container>form {
    position: relative;
}
.interior-detail-comment-container {
    width: 70%;
    background-color: var(--light--gray--color);
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.interior-detail-comment-container {
    overflow-wrap: anywhere;
}
.interior-detail-comment-user {
    display: flex;
    justify-content: space-between;
}
.comment-delete-button {
    border: 0;
    color: var(--dark--gray--color);
    text-decoration: underline;
    background-color: var(--light--gray--color);
}
.interior-detail-before-login {
    width: 70%;
    margin: 0 auto;
}
.interior-detail-before-login a{
    text-decoration: underline;
}
.main-container p>label {
    display: none;
}
.main-container form > p > textarea {
    width: 70%;
    border: 0;
    background-color: var(--light--gray--color);
    padding: 20px 103px 20px 20px;
    border-radius: 10px;
    resize: none;
}
.main-container form > p > textarea:focus {
    outline: none;
}
.main-container form>p {
    display: flex;
    justify-content: center;
}
.btn-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.interior-detail-btn {
    background-color: var(--main--red--color);
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    margin: 10px auto;
    color: #fff !important;
    height: 41.6px;
    display: flex;
    align-items: center;
}