.recipe-detail-img {
    height: 100%;
    width: 40%;
    object-fit: contain;
    max-height: 200px;
}
.recipe-title-container {
    display: flex;
    justify-content: space-between;
    
}
.recipe-detail-info {
    display: flex;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
}
.recipe-detail-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    font-size: 18px;
    justify-content: center;
}
.recipe-detail-menu h1 {
    font-size: 20px;
    font-weight: bold;
}

.recipe-detail-info > div {
    display: flex;
}
.recipe-detail-writer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.recipe-detail-btns {
    text-decoration: underline;
    display: flex;
    gap: 10px;
}
.recipe-detail-ingredient {
    display: flex;
    width: 60%;
    padding: 10px;
    color: #fff;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.recipe-detail-ingredient > div {
    background-color: var(--main--red--color);
    padding: 10px;
    border-radius: 10px;
}
.recipe-detila-ingredient-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
}
.recipe-detail-cook {
    display: flex;
    gap: 30px;
}
.recipe-detail-step-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}
.recipe-detail-step-container h2 {
    font-size: 20px;
    font-weight: bold;
}

.recipe-detail-steps {
    display: flex;
    gap: 10px;
    margin: 10px auto;
    width: 100%;    
    justify-content: center;
}
.recipe-detail-step {
    background-color: var(--main--red--color);
    border-radius: 10px;
    color: #fff;
    width: 70px;
    padding: 10px;
    height: 36px;
}
.receipe-detail-content {
    background-color: var(--light--gray--color);
    border-radius: 10px;
    padding: 5px 10px;
    width: 60%;
    display: flex;
    align-items: center;
    text-align: left;
    overflow-wrap: anywhere;
}
.btn-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recipe-detail-btn {
    background-color: var(--main--red--color);
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    margin: 10px auto;
    color: #fff !important;
}