.recipe-nav {
    width: 100%;
    height: 50px;
    background-color: var(--main--yellow--color);
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.recipe-list-mention {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}
.recipe-list-popular {
    margin: 10px;
    border: 1px solid black;
    height: 150px;
    display: flex;
}
.recipe-list-popular img {
    max-width: 50%;
}
.recipe-list-btn-box {
    display: flex;
    justify-content: flex-end;
}
.recipe-list-btn {
    background-color: var(--main--red--color);
    color: #fff!important;
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px;

}
.recipe-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px;
}
.recipe-list-post {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
}
.recipe-list-img {
    width: 180px;
    height: 120px;
    object-fit: cover;
    margin: 0 auto;
}
.recipe-list-icon {
    width: 180px;
    height: 120px;
    margin: 0 auto;
}
.recipe-post-name {
    font-weight: bold;
    font-size: 18px;
    height: 36px;
    overflow: hidden;
}
.recipe-list-popular img {
    max-width: 100%;
    height: 150px;
}
