{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/recycle/recycle_category.css">
<link rel="stylesheet" href="/static/css/recycle/recycle_main.css">
{% endblock %}
{% block content %}
<div class="recycle-nav">
    <a href="" id="recycle-nav-trash">분리수거</a>
    <a href="{% url 'recycle_user:clothing' %}">의류수거함</a>
    {% if user.is_staff %}
        <a href="{% url 'recycle_user:recycle_create' %}" class="btn btn-primary">새 글 작성</a>
    {% endif %}
</div>

<div id="recycle-sub-nav">
    <a href="{% url 'recycle_user:trash' %}">일반쓰레기</a>
    <a href="{% url 'recycle_user:vinyl' %}">비닐류</a>
    <a href="{% url 'recycle_user:plastic' %}">플라스틱</a>
    <a href="{% url 'recycle_user:can' %}">병*캔류</a>
    <a href="{% url 'recycle_user:paper' %}">종이류</a>
    <a href="{% url 'recycle_user:food'  %}">음식물쓰레기</a>
</div>
<h1>병*캔류 분리배출 방법</h1>

# 유리
내용물을 비우고 라벨 제거 후 배출합니다. 
* 보증금 환불문구가 있는 소주·맥주병 등은 소매점 등에 반납

# 깨진 유리
수거작업 시 안전사고 방지를 위하여 신문지 등으로 감싼 후 '종량제 봉투'에 담아 일반쓰레기로 배출합니다. 
* 깨진병, 판유리, 조명기구용 유리류는 신문지에 싸서 '종량제 봉투'로 배출

# 알루미늄 캔
1. 내용물 비우고 물로 세척하기
2. 라벨을 제거하고 재질이 다른 뚜껑 등은 따로 분리해 배출하기
3. 압착하여 부피를 줄여 '캔류'로 분리배출하기.
* 지정된 장소가 없을 경우 다른 고철과 함께 '캔류'로 분리 배출

<a href="{% url 'recycle_user:recycle_main' %}" class="btn btn-primary">메인으로 돌아가기</a>
{% endblock %}
{% block script %}
    <script src="/static/js/recycle/recycle_category.js"></script>
{% endblock %}