{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/recycle/recycle_category.css">
<link rel="stylesheet" href="/static/css/recycle/recycle_main.css">
{% endblock %}
{% block content %}
<div class="recycle-nav">
    <a href="" id="recycle-nav-trash">분리수거</a>
    <a href="{% url 'recycle_user:clothing' %}">의류수거함</a>
    {% if user.is_staff %}
        <a href="{% url 'recycle_user:recycle_create' %}" class="btn btn-primary">새 글 작성</a>
    {% endif %}
</div>

<div id="recycle-sub-nav">
    <a href="{% url 'recycle_user:trash' %}">일반쓰레기</a>
    <a href="{% url 'recycle_user:vinyl' %}">비닐류</a>
    <a href="{% url 'recycle_user:plastic' %}">플라스틱</a>
    <a href="{% url 'recycle_user:can' %}">병*캔류</a>
    <a href="{% url 'recycle_user:paper' %}">종이류</a>
    <a href="{% url 'recycle_user:food'  %}">음식물쓰레기</a>
</div>
<h1>우땨땨 병*캔류</h1>


<a href="{% url 'recycle_user:recycle_main' %}" class="btn btn-primary">메인으로 돌아가기</a>
{% endblock %}
{% block script %}
    <script src="/static/js/recycle/recycle_category.js"></script>
{% endblock %}