{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/recycle/recycle_category.css">
<link rel="stylesheet" href="/static/css/recycle/recycle_main.css">
<link rel="stylesheet" href="/static/css/recycle/trash.css">
{% endblock %}
{% block content %}
<div class="recycle-nav">
    <a href="" id="recycle-nav-trash">분리수거</a>
    <a href="{% url 'recycle_user:clothing' %}">의류수거함</a>
    {% if user.is_staff %}
        <a href="{% url 'recycle_user:recycle_create' %}" class="btn btn-primary">새 글 작성</a>
    {% endif %}
</div>

<div id="recycle-sub-nav">
    <a href="{% url 'recycle_user:trash' %}">일반쓰레기</a>
    <a href="{% url 'recycle_user:vinyl' %}">비닐류</a>
    <a href="{% url 'recycle_user:plastic' %}">플라스틱</a>
    <a href="{% url 'recycle_user:can' %}">병*캔류</a>
    <a href="{% url 'recycle_user:paper' %}">종이류</a>
    <a href="{% url 'recycle_user:food'  %}">음식물쓰레기</a>
</div>
<h1 class="trash-title">병*캔류</h1>
<div class="title-underline"></div>
<div class="recycle-instructions">
  분리배출 기본 순서
  1. 비운다: 내용물을 모두 비운다.
  2. 헹군다: 이물질을 물로 깨끗이 헹군다.
  3. 분리한다: 라벨, 뚜껑 등 재질이 다른 것은 분리한다.
  4. 섞지 않는다: 배출하려는 쓰레기를 재질과 종류 별로 구분하여 배출한다.
                 
    <h2># 유리</h2>
    <p>내용물을 비우고 라벨 제거 후 담아 배출합니다. </p>
    <p>개인주택, 원룸 등 공동배출 장소가 없는 경우, 재활용 봉투에 담아 배출합니다.</p>
    <p* 보증금 환불문구가 있는 소주·맥주병 등은 소매점 등에 반납 가능></p>

    <h2># 깨진 유리</h2>
    <p>수거작업 시 안전사고 방지를 위하여 신문지 등으로 감싼 후 '종량제 봉투'에 담아 일반쓰레기로 배출합니다. </p>
    <p>* 깨진병, 판유리, 조명기구용 유리류는 신문지에 싸서 '종량제 봉투'로 배출</p>

    <h2># 알루미늄 캔</h2>
    <p>1. 내용물 비우고 물로 세척하기</p>
    <p>2. 라벨을 제거하고 재질이 다른 뚜껑 등은 따로 분리해 배출하기</p>
    <p>3. 압착하여 부피를 줄여 '캔류'로 분리배출하기.</p>
    <p>* 지정된 장소가 없을 경우 다른 고철과 함께 '캔류'로 분리 배출</p>

  Q1. 깨진 유리는 어떻게 배출하면 되나요?
  A1. 수거작업 시 안전사고 방지를 위하여 신문지 등으로 감싼 후 '종량제 봉투'에 담아 '일반쓰레기'로 배출합니다. 
  깨진 유리 말고도 판유리, 조명기구용 유리 등을 신문지에 감싼 후 '종량제 봉투'에 담아 '일반쓰레기'로 배출합니다.

  ✔︎ 재활용품은 투명 비닐에 담아 배출하시기 바랍니다.
  ✔︎ 내집 또는 내상가 건물앞에 배출하며, 아파트 등 공동주택은 공동배출 장소에 배출하시기 바랍니다. 
</div>
<div class="btn-container">
    <a href="{% url 'recycle_user:recycle_main' %}" class="trash-main-btn">메인으로 돌아가기</a>
</div>
{% endblock %}
{% block script %}
    <script src="/static/js/recycle/recycle_category.js"></script>
{% endblock %}