{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/recycle/recycle_category.css">
<link rel="stylesheet" href="/static/css/recycle/recycle_main.css">
<link rel="stylesheet" href="/static/css/recycle/trash.css">
{% endblock %}
{% block content %}
<div class="recycle-nav">
    <a href="{% url 'recycle_user:recycle_main' %}" id="recycle-nav-trash">분리수거</a>
    <a href="{% url 'recycle_user:clothing' %}">의류수거함</a>
</div>

<div id="recycle-sub-nav">
    <a href="{% url 'recycle_user:trash' %}">일반쓰레기</a>
    <a href="{% url 'recycle_user:vinyl' %}">비닐류</a>
    <a href="{% url 'recycle_user:plastic' %}">플라스틱</a>
    <a href="{% url 'recycle_user:can' %}">병*캔류</a>
    <a href="{% url 'recycle_user:paper' %}">종이류</a>
    <a href="{% url 'recycle_user:food'  %}">음식물쓰레기</a>
</div>

<h1 class="trash-title">음식물 쓰레기</h1>
<div class="title-underline"></div>
<div class="recycle-instructions">
    <h2>분리배출 기본 순서</h2>
    <p>1. 비운다: 내용물을 모두 비운다.</p>
    <p>2. 헹군다: 이물질을 물로 깨끗이 헹군다.</p>
    <p>3. 분리한다: 라벨, 뚜껑 등 재질이 다른 것은 분리한다.</p>
    <p>4. 섞지 않는다: 배출하려는 쓰레기를 재질과 종류 별로 구분하여 배출한다.</p>
</div>
<div class="recycle-instructions">
    <h2>배출장소에 따라 구분되는 음식물 처리 방법!</h2>
    <h3># 개인주택, 원룸 등</h3>
    <p>음식물의 수분을 최대한 제거한 후 음식물쓰레기 봉투에 담아 정해진 장소, 정해진 시간에 둬야 합니다. </p>
    <p>이때 봉투 안에 다른 이물질(봉투, 꼬치 등)이 포함되지는 않았는지 확인한 후 배출합니다.</p>

    <h3># 아파트 등 공동주택</h3>
    <p>정해진 통에 음식물을 부어 배출하도록 되어있는 곳도 있고, 개인이 음식물 쓰레기 봉투에 담아 버리도록 되어있는 곳도 있습니다.</p>
    <p>음식물의 수분을 최대한 제거한 후 음식물쓰레기 봉투, 혹은 음식물 전용 쓰레기통에 배출합니다.</p>
</div>
<div class="recycle-question">
    <h2>Q1. 채소나 과일 씨도 음식물쓰레기로 분류되나요?</h2>
    <p>A1. 아니요, 일반쓰레기로 분류됩니다. </p>
    <p>그밖에도 고추씨, 어패류의 껍데기나 뼈, 알껍질, 육류의 뼈, 각종 차류(녹차 등) 찌꺼기, 한약재 찌꺼기, 복어내장 등은 음식물 쓰레기가 아닙니다. 음식물과 분리하여 '종량제 봉투'에 담아 '일반쓰레기'로 배출해 주세요!</p>
    <h2>Q2. 못먹게 된 김치는 음식물 쓰레기에 버리면 될까요?</h2>
    <p>A2. 김치와 같이 소금기가 있는 음식(된장, 고추장 등)은 물에 헹궈 소금기를 덜어내어 '음식물쓰레기'로 배출하거나,</p>
    <p>그렇지 않다면 '종량제 봉투'에 담아 '일반쓰레기'로 배출합니다.</p>
</div>
<div class="recycle-guide">
    <p>✔︎ 음식물쓰레기는 가축 사료로 사용되기 때문에 일반쓰레기와 분리 배출하는 것이 중요합니다.</p>
    <p>✔︎ 내집 또는 내상가 건물 앞에 배출하며, 아파트 등 공동주택은 공동배출 장소에 배출하시기 바랍니다.</p>
</div>
<div class="btn-container">
    <a href="{% url 'recycle_user:recycle_main' %}" class="trash-main-btn">메인으로 돌아가기</a>
</div>
{% endblock %}
{% block script %}
    <script src="/static/js/recycle/recycle_category.js"></script>
{% endblock %}