{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/recycle/recycle_category.css">
<link rel="stylesheet" href="/static/css/recycle/recycle_main.css">
<link rel="stylesheet" href="/static/css/recycle/trash.css">
{% endblock %}
{% block content %}
<div class="recycle-nav">
    <a href="{% url 'recycle_user:recycle_main' %}" id="recycle-nav-trash">분리수거</a>
    <a href="{% url 'recycle_user:clothing' %}">의류수거함</a>
    {% if user.is_staff %}
        <a href="{% url 'recycle_user:recycle_create' %}" class="btn btn-primary">새 글 작성</a>
    {% endif %}
</div>

<div id="recycle-sub-nav">
    <a href="{% url 'recycle_user:trash' %}">일반쓰레기</a>
    <a href="{% url 'recycle_user:vinyl' %}">비닐류</a>
    <a href="{% url 'recycle_user:plastic' %}">플라스틱</a>
    <a href="{% url 'recycle_user:can' %}">병*캔류</a>
    <a href="{% url 'recycle_user:paper' %}">종이류</a>
    <a href="{% url 'recycle_user:food'  %}">음식물쓰레기</a>
</div>
<h1 class="trash-title">종이류</h1>
<div class="title-underline"></div>
<div class="recycle-instructions">
  분리배출 기본 순서
1. 비운다: 내용물을 모두 비운다.
2. 헹군다: 이물질을 물로 깨끗이 헹군다.
3. 분리한다: 라벨, 뚜껑 등 재질이 다른 것은 분리한다.
4. 섞지 않는다: 배출하려는 쓰레기를 재질과 종류 별로 구분하여 배출한다.
  <h2># 종이류 (박스, 기타 종이류)</h2>
  택배 송장, 테이프 등을 제거 후 차곡차곡 접거나 끈으로 묶어 배출한다.

* 소량이거나 오염된 경우는 '일반쓰레기'로 배출
* 오염된 종이, 영수증/전표, 코팅지, 벽지, 다른 재질이 혼합, 부착된 것은 '종량제 봉투'에 담아 '일반쓰레기'로 배출
  

<h2># 종이팩</h2>
1. 이물질을 물로 세척한 후 잘 말려 압착한다.
2. 일반 종이류와 섞이지 않도록 가급적 끈 등으로 묶어 '종이류'로 배출한다. 

Q1. 파쇄지 같은 경우에는 어떻게 처리하나요?
A1. 파쇄지는 종이류가 아닌 '종량제 봉투'에 담아 '일반쓰레기'로 배출합니다.

Q2.
A2.

✔︎ 재활용품은 투명 비닐에 담아 배출하시기 바랍니다.
✔︎ 내집 또는 내상가 건물앞에 배출하며, 아파트 등 공동주택은 공동배출 장소에 배출하시기 바랍니다. 
</div>
<div class="btn-container">
    <a href="{% url 'recycle_user:recycle_main' %}" class="trash-main-btn">메인으로 돌아가기</a>
</div>

{% endblock %}
{% block script %}
    <script src="/static/js/recycle/recycle_category.js"></script>
{% endblock %}