{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="/static/css/recycle/recycle_category.css">
<link rel="stylesheet" href="/static/css/recycle/recycle_main.css">
<link rel="stylesheet" href="/static/css/recycle/trash.css">
{% endblock %}
{% block content %}
<div class="recycle-nav">
    <a href="" id="recycle-nav-trash">분리수거</a>
    <a href="{% url 'recycle_user:clothing' %}">의류수거함</a>
    {% if user.is_staff %}
        <a href="{% url 'recycle_user:recycle_create' %}" class="btn btn-primary">새 글 작성</a>
    {% endif %}
</div>

<div id="recycle-sub-nav">
    <a href="{% url 'recycle_user:trash' %}">일반쓰레기</a>
    <a href="{% url 'recycle_user:vinyl' %}">비닐류</a>
    <a href="{% url 'recycle_user:plastic' %}">플라스틱</a>
    <a href="{% url 'recycle_user:can' %}">병*캔류</a>
    <a href="{% url 'recycle_user:paper' %}">종이류</a>
    <a href="{% url 'recycle_user:food'  %}">음식물쓰레기</a>
</div>
<h1 class="trash-title">플라스틱 분리배출 방법</h1>
<div class="title-underline"></div>
<div class="recycle-instructions">
  
  <h2>분리배출 기본 순서</h2>
  <p>1. 비운다: 내용물을 모두 비운다.</p>
  <p>2. 헹군다: 이물질을 물로 깨끗이 헹군다.</p>
  <p>3. 분리한다: 라벨, 뚜껑 등 재질이 다른 것은 분리한다.</p>
  <p>4. 섞지 않는다: 배출하려는 쓰레기를 재질과 종류 별로 구분하여 배출한다.</p>

  <h2>플라스틱은 투명 페트병과 그 외로 구분하여 배출합니다.</h2>

<h3># 투명 페트병(생수, 콜라, 사이다 등)</h3>
    <p>1. 내용물을 비우고 물로 세척한다.</p>
    <p>2. 재질이 다른 라벨 등을 모두 제거하여 '비닐류'로 배출한다.</p>
    <p>3. 최대한 압축하여 뚜껑을 닫는다.</p>
    <p>4. 전용 수거함에 배출하거나 따로 모아 '페트'로 배출한다.</p>

    <h4># 유색 페트병(맥주 등)</h4>

    <p>1. 내용물을 비우고 물로 세척한다.</p>
    <p>2. 재질이 다른 라벨 등을 모두 제거하여 '비닐류'로 배출한다.</p>
    <p>3. 최대한 압축한다.(뚜껑은 닫고 함께 버려도, 따로 분리하여 버려도 무방)</p>
    <p>4. 다른 일반 플라스틱과 함께 '플라스틱'으로 배출한다.</p>

    <h5># 그 외 플라스틱</h5>
    <p>1. 내용물을 비우고 물로 세척한다.</p>
    <p>2. 재질이 다른 라벨, 부속품 등을 모두 제거하여 '플라스틱'으로 배출한다.</p>
    <li>용기의 펌프(금속 스프링), 칫솔, 볼펜 등 다른 재질이 혼합, 부착된 것은 '종량제 봉투'에 담아 '일반쓰레기'로 배출한다.</li>
   

    Q1. 은색 보냉팩은 일반쓰레기인가요?
    A1. 네. 은색 보냉팩은 여러 물질이 혼합되어 있어 재활용이 불가능합니다. '종량제 봉투'에 담아 '일반쓰레기'로 배출해 주세요.
    
    Q2. 재활용품이랑 헷갈릴 수 있는 쓰레기에는 무엇이 있나요?
    A2. 응애 멘트 뭐라하징 우땨땨

✔︎ 재활용품은 투명 비닐에 담아 배출하시기 바랍니다.
✔︎ 내집 또는 내상가 건물앞에 배출하며, 아파트 등 공동주택은 공동배출 장소에 배출하시기 바랍니다. 
</div>
<div class="btn-container">
    <a href="{% url 'recycle_user:recycle_main' %}" class="trash-main-btn">메인으로 돌아가기</a>
</div>
{% endblock %}
{% block script %}
    <script src="/static/js/recycle/recycle_category.js"></script>
{% endblock %}