{% extends 'base.html' %}

{% block content %}
<div class="recycle-header">
    <h1>매번 헷갈리는 분리수거 방법,</h1>
    <h1>ALLO와 함께 알아보아요!</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="query" placeholder="예)우유, 형광등, 프링글스통">
        <button type="submit">검색</button>
    </form>
{% if items %}
    <ul>
    {% for item in items %}
        <a href="{% url 'recycle_user:recycle_detail' item.pk %}">{{ item.name }} - {{ item.category }}</a>
    {% endfor %}
    </ul>
{% endif %}

{% if user.is_staff %}
    <a href="{% url 'recycle_user:recycle_create' %}" class="btn btn-primary">새 글 작성</a>
{% endif %}

{% endblock %}