{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>새 분리수거 항목 생성</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="{{ form.category.id_for_label }}">카테고리:</label>
        {{ form.category }}
    </div>
    <div class="form-group">
        <label for="{{ form.name.id_for_label }}">이름:</label>
        {{ form.name }}
    </div>
    
    <div class="form-group">
        <label for="{{ form.description.id_for_label }}">설명:</label>
        {{ form.description }}
    </div>
    
    <div class="form-group">
        <label for="{{ form.image.id_for_label }}">이미지:</label>
        {{ form.image }}
    </div>
    
    <button type="submit" class="btn btn-primary">생성</button>
</form>

<a href="{% url 'recycle_user:recycle_main' %}" class="btn btn-secondary">취소</a>
{% endblock %}