{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="/static/css/recycle/recycle_category.css">
<link rel="stylesheet" href="/static/css/recycle/recycle_main.css">
{% endblock %}
{% block content %}
<div class="recycle-nav">
    <a href="" id="recycle-nav-trash">분리수거</a>
    <a href="{% url 'recycle_user:clothing' %}">의류수거함</a>
    {% if user.is_staff %}
        <a href="{% url 'recycle_user:recycle_create' %}" class="btn btn-primary">새 글 작성</a>
    {% endif %}
</div>

<div id="recycle-sub-nav">
    <a href="{% url 'recycle_user:trash' %}">일반쓰레기</a>
    <a href="{% url 'recycle_user:vinyl' %}">비닐류</a>
    <a href="{% url 'recycle_user:plastic' %}">플라스틱</a>
    <a href="{% url 'recycle_user:can' %}">병*캔류</a>
    <a href="{% url 'recycle_user:paper' %}">종이류</a>
    <a href="{% url 'recycle_user:food'  %}">음식물쓰레기</a>
</div>
<h1>비닐류 분리배출 방법</h1>
<p>-</p>
<div class="recycle-content">
<h2>이물질을 물로 헹구거나 제거한 후 투명(반투명) 봉투에 담아 배출합니다.</h2>
    <p>흩날리지 않도록 봉투를 잘 묶어 배출한다.</p>
    <p>만약 비닐에 묻은 음식물, 스티커 등을 제거하기 어렵다면 종량제 봉투로 배출해야 한다.</p>
    <p>필름지, 시트지, 랩 필름 등은 분리배출 표시가 없어도 비닐류로 배출한다.</p>

    내용물을 비우고 흩날리지 않도록 봉투에 담아 배출합니다. 장판, 돗자리, 현수막 등은 대형폐기물로 배출합니다.
    <p>-</p>

<p> Q1. 이물질이 있는 과자, 빵, 라면, 삼각김밥 봉지 등은 재활용 가능한가요? </p>
    <p>A1. 내용물을 비우고 물로 헹군 후 비닐류에 배출해 주세요! 단, 이물질 제거가 어렵다면 종량제 봉투로 배출합니다. </p>

<p>Q2. 재활용 표시가 없는 봉투나 에어캡 등도 재활용 가능한가요?</p>
    <p>A2. 분리배출 표시가 없더라도 깨끗한 비닐류는 재활용이 가능합니다!</p>

        <p>Q3. 비닐과 종이가 합쳐진 포장재(쌀 포장지 등)는 어떻게 배출하나요?</p>
            <p>A3. 단면이 비닐코팅된 종이는 '종이류'로, 양면이 비닐코팅된 종이는 '비닐류'로 배출합니다~</p>

<a href="{% url 'recycle_user:recycle_main' %}" class="btn btn-primary">메인으로 돌아가기</a>
{% endblock %}
{% block script %}
    <script src="/static/js/recycle/recycle_category.js"></script>
{% endblock %}