.home-hof-container {
    width: 100vw;
    background-color: var(--light--gray--color);
    padding: 30px;
    font-weight: bold;
    font-size: 20px;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 590px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slider 7.5s infinite linear;
}

.slide:nth-child(1) {
    animation-delay: 0;
}
.slide:nth-child(2) {
    animation-delay: -2.5s;
}
.slide:nth-child(3) {
    animation-delay: -5s;
}

@keyframes slider {
0% {
    transform: translateX(0);
}

26% {
    transform: translateX(0);
}
33% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
}
93% {
    transform: translateX(100%);
}

100% {
    transform: translateX(0);
}
}.slide{
    animation: slider 7.5s infinite linear;
}.slide:nth-child(1) {
    animation-delay: 0;
}
.slide:nth-child(2) {
    animation-delay: -2.5s;
}
.slide:nth-child(3) {
    animation-delay: -5s;
}
.slide1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--main--yellow--color);
    gap: 50px;
}
.slide-logo-img {
    height: 80%;
    border-radius: 50%;
    aspect-ratio: auto;
}
.slide1-right {
    display: flex;
    flex-direction: column;
}
.slide1-right-ment {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}
.slide1-red {
    color: var(--main--red--color);
}
.slide-logo2-img {
    margin: 20px 0;
}
.slide1-right > p {
    color: #B89D30;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
}