:root {
    --main--red--color: #EB5050;
    --main--yellow--color: #FFD732;    
    --main--blue--color: #B4E5FF;
    --light--blue--color: #b4e5ff82;
    --main--gray--color: #D9D9D9;
    --light--gray--color: #F5F5F5;
    --dark--gray--color: #929292;
}
.noto-sans-kr {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* header */
#header {
    width: 100%;
    height: 75px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
}
#header-logo {
    display: flex;
    gap: 10px;
}
#allo-logo-img1 {
    width: 70px;
    object-fit: contain;
}
#allo-logo-img2 {
    width: 100px;
}
#header-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}
#notification-icon,
#search-icon {
    width: 40px;
    height: 40px;
}
#hamburger-btn {
    display: flex;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
}
#hamburger-btn > div {
    width: 40px;
    height: 6px;
}
#hamburger-btn>div:nth-child(1) {
    background-color: var(--main--red--color);
}
#hamburger-btn>div:nth-child(2) {
    background-color: var(--main--yellow--color);
}
#hamburger-btn>div:nth-child(3) {
    background-color: var(--main--blue--color);
}

/* sidenar */
#sidebar {
    background-color: var(--main--gray--color);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 75px);
    width: 300px;
    z-index: 5;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}
.sidebar-category {
    margin: 30px;
    font-size: 20px;
}
/* search */
.search_logo {
    display: none;
}
#header-nav-search {
    border-radius: 20px;
    padding: 10px 40px 10px 10px;
    width: 300px;
    border: 3px solid var(--dark--gray--color);
    margin-right: -10px;
    display: none;
}
#header-nav-search-icon {
    width: 35px;
    height: 35px;
    margin-left: -50px;
    display: none;
}
@keyframes slider {
    0% {
      transform: translateX(0);
    }
  
    26% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    93% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }.slide{
	animation: slider 7.5s infinite linear;
}
  .slide:nth-child(1) {
    animation-delay: 0;
  }
  .slide:nth-child(2) {
    animation-delay: -2.5s;
  }
  .slide:nth-child(3) {
    animation-delay: -5s;
  }

/* footer */
#footer {
    background-color: var(--main--red--color);
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
