.community-categoty {
    color: #fff !important;
}
.community-categoty-selected {
    color: black !important;
}
.community-header {
    width: 100%;
    background-color: var(--main--yellow--color);
    height: 50px;
    display: flex;
    align-items: center;    
    justify-content: space-around;
    color: #fff;
    font-size: 20px;
}
.post-detail-top {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.post-detail-top > div {
    display: flex;
    gap: 10px;
    text-decoration: underline;
    color: var(--dark--gray--color);
}
.post-detail-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-detail-big-container {
    width: 70%;
    margin: 0 auto;
}
.post-detail-big-container > img {
    margin: 0 auto;
    width: 50%;
    display: flex;
}
.post-detail-title {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
.post-detail-info {
    font-size: 18px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    line-height: 1.2;
    gap: 5px;
}
.mypage-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.author-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.actions {
    display: flex;
    gap: 10px;
    align-items: center;
}
.actions button img {
    width: 30px;
    height: 30px;
    display: flex;
}
.post-detail-content-box {
    background-color: var(--light--gray--color);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
}

.post-detail-btn-div {
    margin: 50px auto 10px auto;
    text-align: center;
}
.post-detail-btn {
    background-color: var(--main--red--color);
    color: #fff !important;
    padding: 10px;
    border-radius: 10px;
}

/* 댓글 */
.comment-line {
    /* border-top: 7px solid var(--light--gray--color); */
    padding-top: 20px;
}
.post-detail-comment-title {
    width: 70%;
    margin: 10px auto;
}
.community-container form>p {
    display: flex;
    justify-content: center;
}
.post-detail-comment-btn {
    background-color: var(--main--red--color);
    color: #fff;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    font-family: "Noto Sans KR", sans-serif;
    position: absolute;
    right: calc(((100vw - 70%) / 2) + 10px);
    bottom: 10px;
    cursor: pointer;
}
.main-container>form {
    position: relative;
}
.post-detail-comment-container {
    width: 70%;
    background-color: var(--light--gray--color);
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.post-detail-comment-user {
    display: flex;
    justify-content: space-between;
}
.comment-delete-button {
    border: 0;
    color: var(--dark--gray--color);
    text-decoration: underline;
    background-color: var(--light--gray--color);
}
.community-detail-before-login {
    width: 70%;
    margin: 0 auto;
}
.community-detail-before-login a{
    text-decoration: underline;
}
.main-container p>label {
    display: none;
}
.main-container form > p > textarea {
    width: 70%;
    border: 0;
    background-color: var(--light--gray--color);
    padding: 20px 103px 20px 20px;
    border-radius: 10px;
    resize: none;
}
.main-container form > p > textarea:focus {
    outline: none;
}
.main-container form>p {
    display: flex;
    justify-content: center;
}
.btn-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.post-detail-btn {
    background-color: var(--main--red--color);
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    margin: 10px auto;
    color: #fff !important;
    height: 41.6px;
    display: flex;
    align-items: center;
}