.community-header {
    width: 100%;
    background-color: var(--main--yellow--color);
    height: 50px;
    display: flex;
    align-items: center;    
    justify-content: space-around;
    color: #fff;
    font-size: 20px;
}
.community-categoty:nth-child(3) {
    color: black;
}
.community-create-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.post-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
}
#id_title {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    border: 6px solid var(--light--gray--color);
}
#id_content {
    width: 80%;
    margin: 0 auto;
    min-height: 300px;
    padding: 20px;
    border-left: 6px solid var(--light--gray--color);
    border-right: 6px solid var(--light--gray--color);
    border-top: 0;
    border-bottom: 0;
    resize: none;
}
#id-content:focus {
    outline: none!important;
}
#id_image {
    display: flex;
}
.community-form-bottom {
    width: 80% !important;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border: 6px solid var(--light--gray--color);
}
/* .community-create-form-container {
    min-width: 300px;
} */
.community-create-btn {
    background-color: var(--main--red--color);
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    
    /* 지금 폰트 사이즈 13.33px */
}
.community-list-btn {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    background-color: var(--main--red--color);
    padding: 10px;
    border-radius: 10px;
    color: #fff !important;
    width: 69.05px;
}