.event-form-title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
.event-from-container {

}
.event-from-container > div {
    display: flex;
    align-items: flex-start;
    margin: 10px auto;
    justify-content: center;
    gap: 10px;
}
.event-from-container label {
    background-color: var(--main--red--color);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    width: 85px;
    text-align: center;
}
.event-from-container input,
.event-from-container textarea {
    border: 0;
    background-color: var(--light--gray--color);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}
.event-from-container textarea {
    resize: none;
}
.event-from-container textarea:focus {
    outline: none;
}
#id_image {
    background-color: #fff;
    cursor: pointer;
}
.event-btn {
    background-color: var(--main--red--color);
    border-radius: 10px;
    width: 100px;
    text-align: center;
}
.event-btn button {
    color: #fff !important;
    font-size: 16px;
    width: 100px;
    height: 43.2px;
    border-radius: 10px;
}