<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookmarked Posts</title>
</head>
<body>
    <div>
        <h1>Bookmarked Posts</h1>
        {% if posts %}
            {% for post in posts %}
                <div>
                    <div>
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.content }}</p>
                        <a href="{% url 'community_user:post_detail' post.id %}">View Post</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No posts have been bookmarked yet.</p>
        {% endif %}
        <a href="{% url 'users_user:home' %}">Back to Home</a>
    </div>
</body>
</html>