{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/community/event_list.css">
{% endblock %}
{% block content %}
<div class="community-header">
    <div class="community-category"><a href="{% url 'community_user:event_list' %}">공지 및 이벤트</a></div>
    <div class="community-category"><a href="{% url 'community_user:chatroom_list' %}">채팅방</a></div>
    <div class="community-category"><a href="{% url 'community_user:post_list' %}">커뮤니티</a></div>
</div>
<div class="community-content">
    <div id="events" class="section">
        <div class="button-group">
            <button onclick="showSection('events')" class="color">이벤트 보기</button>
            <button onclick="showSection('notices')">공지사항 보기</button>
        </div>
        {% if user.is_staff %}
        <div class="event-btn">
            <a href="{% url 'community_user:event_create' %}">이벤트 작성</a>
        </div>
            {% endif %}
        <div class="event-post-container">
            {% for event in events %}
            <a href="{% url 'community_user:event_detail' event.pk %}" class="event-post">
                {% if event.image %}
                    <img src="{{ event.image.url }}" alt="{{ event.title }}" class="event-img">
                {% else %}
                    <img src="/static/img/empty3.svg" alt="" class="event-icon">
                {% endif %}
                <h2>{{ event.title }}</h2>
                <h4>{{ event.start_date }} </br>~ {{ event.end_date }}</h4>
            </a>
            {% endfor %}
        </div>
    </div>

    <div id="notices" class="section" style="display:none;">
        <div class="button-group">
            <button onclick="showSection('events')">이벤트 보기</button>
            <button onclick="showSection('notices')">공지사항 보기</button>
        </div>
        {% if user.is_staff %}
        <div class="event-btn">
            <a href="{% url 'community_user:notice_create' %}">공지 작성</a>
        </div>
            {% endif %}
        <ul>
            {% for notice in notices %}
                <li>
                    <a href="{% url 'community_user:notice_detail' notice.pk %}">{{ notice.title }}</a> - 
                    {{ notice.created_at }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    function showSection(sectionId) {
        document.getElementById('events').style.display = 'none';
        document.getElementById('notices').style.display = 'none';
        document.getElementById(sectionId).style.display = 'block';
    }
</script>
{% endblock %}
