{% extends 'base.html' %}

{% block content %}
<h2>{{ user.username }}님의 프로필</h2>
<p>이메일: {{ user.email }}</p>
<h3>친구 목록</h3>
<ul>
    {% for friend in user.profile.friends.all %}
        <li>{{ friend.user.username }}</li>
    {% endfor %}
</ul>
<h3>받은 친구 요청</h3>
<ul>
    {% for request in received_requests %}
        <li>
            {{ request.from_user.username }}님이 친구 요청을 보냈습니다.
            <a href="{% url 'community_user:accept_friend_request' request.id %}" class="btn btn-success">수락</a>
            <a href="{% url 'community_user:decline_friend_request' request.id %}" class="btn btn-danger">거절</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
