{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/community/event_list.css">
{% endblock %}
{% block content %}
<div class="community-header">
    <div class="community-category"><a href="{% url 'community_user:post_list' %}">커뮤니티</a></div>
    <div class="community-category"><a href="{% url 'community_user:event_list' %}">이벤트</a></div>
    <div class="community-category community-category-selected"><a href="{% url 'community_user:notice_list' %}">공지</a></div>
</div>
<div class="community-content">
    {% if user.is_staff %}
    <div class="event-btn">
        <a href="{% url 'community_user:notice_create' %}">공지 작성</a>
    </div>
    {% endif %}
    <div class="event-post-container">
        {% for notice in notices %}
            <a href="{% url 'community_user:notice_detail' notice.pk %}" class="event-post">
                {% if notice.image %}
                    <img src="{{ notice.image.url }}" alt="{{ notice.title }}" class="event-img">
                {% else %}
                    <img src="/static/img/empty3.svg" alt="" class="event-icon">
                {% endif %}
                <h2>{{ notice.title }}</h2>
                <h3>{{ notice.created_at }}</h3>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
