{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="/static/css/community/community_detail.css">
{% endblock %}
{% block content %}
<div class="community-header">
    <div class="community-categoty">이벤트</div>
    <div class="community-categoty">채팅방</div>
    <div class="community-categoty">커뮤니티</div>
</div>
<div class="post-detail-big-container">
    <div class="post-detail-top">
        <h1 class="post-detail-title">{{ post.title }}</h1>
        <div>
            {% if request.user == post.author %}
                <a href="{% url 'community_user:post_update' post.id %}" class="btn btn-secondary">수정</a>
                <a href="{% url 'community_user:post_delete' post.id %}" class="btn btn-danger">삭제</a>
            {% endif %}              
        </div>
    </div>
    <div class="post-detail-bottom">
        <p class="post-detail-info">
            {{ post.author.username }} | {{ post.date_posted|date:"Y-m-d H:i" }}
        </p>
        <div class="actions">
            <a href="{% url 'community_user:like_post' post.id %}" class="btn btn-primary">Like ({{ post.total_likes }})</a>
            <a href="{% url 'community_user:bookmark_post' post.id %}" class="btn btn-info">
                {% if request.user in post.bookmarks.all %}
                    Unbookmark
                {% else %}
                    Bookmark
                {% endif %}
            </a>
        </div>
    </div>
        <div class="post-detail-content-box">
            {{ post.content }}
            <img src="/static/img/bubble-writer.svg" alt="말풍선 꼬리 이미지" class="bubble-writer">
        </div>
    <div class="post-detail-btn-div">
        <a href="{% url 'community_user:post_list' %}" class="post-detail-btn">목록</a>
    </div>
</div>
{% endblock %}