{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="/static/css/community/community_create.css">
{% endblock %}
{% block content %}
<div class="community-header">
    <div class="community-categoty">이벤트</div>
    <div class="community-categoty">채팅방</div>
    <div class="community-categoty">커뮤니티</div>
</div>
<div class="community-title-box">
    자유게시판
</div>
<h1>
    {% if form.instance.pk %}
    Edit
    {% else %}
    Create
    {% endif %}
    Post
</h1>
<form method="post" class="community-create-container">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
<a href="{% url 'post_list' %}">Back to Home</a>
{% endblock %}