{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/community/community_detail.css' %}">
{% endblock %}
{% block content %}
<div class="community-header">
    <div class="community-categoty"><a href="{% url 'community_user:event_list' %}">이벤트</a></div>
    <div class="community-categoty"><a href="{% url 'community_user:chatroom_list' %}">채팅방</a></div>
    <div class="community-categoty"><a href="{% url 'community_user:post_list' %}">커뮤니티</a></div>
</div>
<div class="post-detail-big-container">
    <div class="post-detail-top">
        <h1 class="post-detail-title">{{ post.title }}</h1>
        <div>
            {% if request.user == post.author %}
                <a href="{% url 'community_user:post_update' post.id %}" class="btn btn-secondary">수정</a>
                <a href="{% url 'community_user:post_delete' post.id %}" class="btn btn-danger">삭제</a>
            {% endif %}
        </div>
    </div>
    <div class="post-detail-bottom">
        <p class="post-detail-info">
            {{ post.author.username }} | {{ post.date_posted|date:"Y-m-d H:i" }}
        </p>
        <div class="actions">
            <button id="like-button" data-post-id="{{ post.pk }}">
                {% if request.user in post.likes.all %}
                <img src="{% static 'img/full-heart.svg' %}" alt="좋아요 눌렀을 때 아이콘">
                {% else %}
                <img src="{% static 'img/heart.svg' %}" alt="좋아요 안 눌렀을 때 아이콘">
                {% endif %}
            </button>
            <span id="likes-count">{{ post.total_likes }}</span>
            <button id="bookmark-button" data-post-id="{{ post.pk }}" class="btn btn-info">
                {% if request.user in post.bookmarks.all %}
                    <img src="{% static 'img/full-bookmark.svg' %}" alt="북마크 눌렀을 때 아이콘">
                {% else %}
                    <img src="{% static 'img/bookmark.svg' %}" alt="북마크 안 눌렀을 때 아이콘">
                {% endif %}
            </button>
            <span id="bookmarks-count">{{ post.total_bookmarks }}</span>
            {% if request.user != post.author %}
                {% if friends %}
                    <button class="btn btn-success">친구 중</button>
                {% elif friend_request_sent %}
                    <button class="btn btn-warning">신청함</button>
                {% elif friend_request_received %}
                    <button class="btn btn-info">친구 요청 대기 중</button>
                {% else %}
                    <button id="friend-request-button" data-username="{{ post.author.username }}" class="btn btn-success">친구 추가</button>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="post-detail-content-box">
        {{ post.content }}
        <img src="{% static 'img/bubble-writer.svg' %}" alt="말풍선 꼬리 이미지" class="bubble-writer">
    </div>
    <div class="post-detail-btn-div">
        <a href="{% url 'community_user:post_list' %}" class="post-detail-btn">목록</a>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/community/community_detail.js' %}"></script>
{% endblock %}
