{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/recipe/recipe_list.css">
{% endblock %}
{% block content %}
<div class="recipe-nav">
    <a>한식</a>
    <a>일식</a>
    <a>중식</a>
    <a>양식</a>
    <a>기타</a>
</div>
<h1 class="recipe-list-mention">지금 가장 인기있는 한식은?</h1>
<div class="recipe-list-popular"> <!-- 좋아요수 가장 많은 음식 -->
    <img src="" alt="">
    <div>
        <h2></h2> <!-- 요리 이름 -->
        <h3></h3> <!-- 작성자 이름 -->
        <h4></h4> <!-- 작성한 날짜 -->
    </div>
</div>
<div class="recipe-list-btn-box">
    <a href="{% url 'recipe_create' %}" class="recipe-list-btn">작성하기</a>
</div>
<ul class="recipe-list-container">
{% for recipe in recipes %}
    <a  href="{% url 'recipe_detail' id=recipe.id %}" class="recipe-list-post">
        {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="" class="recipe-list-img">
        {% else %}
            <img src="/static/img/empty2.svg" alt="" class="recipe-list-icon">
        {% endif %}
            <div class="recipe-post-name">{{ recipe.recipe_name }}</div>
            <div class="recipe-post-info">
                <p>조리 시간: {{ recipe.cooking_time }}분</p>
                <p>난이도: {{ recipe.difficulty }}</p>
            </div>               
        </a>
{% empty %}
    <li>등록된 레시피가 없습니다.</li>
{% endfor %}
</ul>

{% endblock %}