{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="/static/css/recipe/recipe_list.css">
    <link rel="stylesheet" href="/static/css/recipe/recipe_form.css">
{% endblock %}
{% block content %}
<div class="recipe-nav">
    <a href="?category=korean">한식</a>
    <a href="?category=japanese">일식</a>
    <a href="?category=chinese">중식</a>
    <a href="?category=western">양식</a>
    <a href="?category=snack">분식</a>
    <a href="?category=others">기타</a>
</div>
<h1 id="recipe-title">
    {% if form.instance.id %}
    레시피 수정
    {% else %}
    새 레시피 작성
    {% endif %}
</h1>
<form method="post" enctype="multipart/form-data" id="recipe-form">
    {% csrf_token %}
    <div class="recipe-input-container">
        <h2>{{ form.recipe_name.label_tag }}</h2>
        <div class="recipe-input">{{ form.recipe_name }}</div>
    </div>
    <div class="recipe-input-container">
        <h2>{{ form.cooking_time.label_tag }}</h2>
        <div class="recipe-input">{{ form.cooking_time }}</div>
    </div>
    <div class="recipe-input-container">
        <h2>{{ form.servings.label_tag }}</h2>
        <div class="recipe-input">{{ form.servings }}</div>
    </div>
    <div class="recipe-input-container">
        <h2>{{ form.difficulty.label_tag }}</h2>
        <div>{{ form.difficulty }}</div>
    </div>
    <div class="recipe-input-container">
        <h2>{{ form.category.label_tag }}</h2>
        <div>{{ form.category }}</div>
    </div>
    <div class="recipe-input-container">
        <h2>{{ form.image.label_tag }}</h2>
        <div>{{ form.image }}</div>
    </div>
    <div id="ingredients-container">
        <h3>재료</h3>
        <div class="ingredient-group">
            <div class="ingredient-item">
                <input type="text" name="ingredients[]" required>
                <button type="button" class="remove-ingredient">삭제</button>
            </div>
        </div>
        
    </div>
    <button type="button" id="add-ingredient">+재료 추가</button>

    <div id="instructions-container">
        <h3>조리 방법</h3>
        <div class="instruction-group">
            <div class="instruction-item">
                <textarea name="instructions[]" required></textarea>
                <button type="button" class="remove-instruction">삭제</button>
            </div>            
        </div>

    </div>
    <button type="button" id="add-instruction">+조리 단계 추가</button>
    <div class="recipe-form-btns">
        <a href="{% url 'recipe_user:recipe_list' %}">목록</a>
        <button type="submit" class="save-btn">작성하기</button>        
    </div>
</form>
{% endblock %}
{% block script %}
    <script src="{% static 'js/recipe/recipe_form.js' %}"></script>
{% endblock %}