{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/recipe/recipe_detail.css">
{% endblock %}
{% block content %}

<div class="recipe-detail-info">
    {% if recipe.image %}
    <img src="{{ recipe.image.url }}" alt="{{ recipe.recipe_name }}" class="recipe-detail-img">
    {% else %}
    <img src="/static/img/empty2.svg" alt="" class="recipe-detail-img" id="empty-icon">
    {% endif %}
    <div class="recipe-detail-menu">
        <div class="recipe-title-container">
            <h1>{{ recipe.recipe_name }}</h1>
            {% if user == recipe.author %}
            <div class="recipe-detail-btns">
                <a href="{% url 'recipe_user:recipe_edit' id=recipe.id %}">수정</a>
                <a href="{% url 'recipe_user:recipe_delete' id=recipe.id %}" onclick="return confirm('정말로 삭제하시겠습니까?');">삭제</a>
            </div>
            {% endif %}
        </div>
        <p>작성자: {{ recipe.author }}</p>
        <!-- <div>
            <p>작성일: {{ recipe.created_at }}</p>
            <p>수정일: {{ recipe.updated_at }}</p>
            </div> -->
        <p>{{ recipe.servings }}인분</p>
        <div class="recipe-detail-cook">
            <p>난이도: {{ recipe.difficulty }}</p>
            <p>조리 시간: {{ recipe.cooking_time }}분</p>
        </div>
            </div>
</div>
<div class="actions">
  <a href="{% url 'recipe_user:like_recipe' recipe.id %}" class="btn btn-primary">
    {% if request.user in recipe.likes.all %}
      <img src="/static/img/full-heart.svg" alt="좋아요 눌렀을 때 아이콘" class="like-icon">
    {% else %}
      <img src="/static/img/heart.svg" alt="좋아요 안 눌렀을 때 아이콘" class="like-icon">
    {% endif %}
  </a>
  <p>{{ recipe.total_likes }}</p>
  <a href="{% url 'recipe_user:bookmark_recipe' recipe.id %}" class="btn btn-info">
    {% if request.user in recipe.bookmarks.all %}
      <img src="/static/img/full-bookmark.svg" alt="북마크 아이콘" class="bookmark-icon">
    {% else %}
        <img src="/static/img/bookmark.svg" alt="비어있는 북마크 아이콘" class="bookmark-icon">
    {% endif %}
  </a>
  <p>{{ recipe.total_bookmarks }}</p>
   </div>
<h2 class="recipe-detila-ingredient-title">재료</h2>
<div class="recipe-detail-ingredient">
    {% for ingredient in recipe.ingredients.splitlines %}
    <div>{{ ingredient }}</div>
    {% endfor %}
</div>
<div class="recipe-detail-step-container">
    <h2>레시피</h2>
    {% for index, instruction in instructions_with_index %}
    <div class="recipe-detail-steps">
        <div class="recipe-detail-step">{{ index }}단계</div>
        <div class="receipe-detail-content">{{ instruction }}</div>
    </div>
    {% endfor %}
</div>

<!-- 수정된 댓글 부분 -->
{% if comments %}
  <p class="recipe-detail-comment-title">{{ comments|length }}개의 댓글이 있습니다.</p>
  <ul>
    {% for comment in comments %}
      <li class="recipe-detail-comment-container">
        <div class="recipe-detail-comment-user">
          {{ comment.user }}
          {% if user == comment.user %}
          <form action="{% url 'recipe_user:comments_delete' recipe.id comment.id %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="삭제" class="recipe-detail-comment-delete">
          </form>
        {% endif %}
      </div>
      <div>
        {{ comment.content }}
      </div>
    </li>
  {% empty %}
    <p class="recipe-detail-comment-title">작성된 댓글이 없습니다.</p>
  {% endfor %}
</ul>

{% if request.user.is_authenticated %}
<h3 class="recipe-detail-comment-title">댓글을 작성해주세요!</h3>
  <form action="{% url 'recipe_user:comments_create' recipe.id %}" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" class="recipe-detail-comment-btn" value="댓글 작성">
  </form>
{% else %}
  <p class="recipe-detail-before-login">댓글을 작성하려면 <a href="{% url 'users_user:login' %}">로그인</a>하세요.</p>
  
{% endif %}

<div class="btn-div">
    <a href="{% url 'recipe_user:recipe_list' %}" class="recipe-detail-btn">목록</a>
</div>
{% endblock %}