{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="/static/css/recipe/recipe_recommend.css">
<link rel="stylesheet" href="/static/css/recipe/recipe_list.css">
{% endblock %}
{% block content %}
<div class="recipe-nav">
    <a href="{% url 'recipe_user:recipe_list' %}?category=all" class="{% if request.GET.category == 'all' %}category-select{% endif %}">전체</a>
    <a href="{% url 'recipe_user:recipe_list' %}?category=korean" class="{% if request.GET.category == 'korean' %}category-select{% endif %}">한식</a>
    <a href="{% url 'recipe_user:recipe_list' %}?category=japanese" class="{% if request.GET.category == 'japanese' %}category-select{% endif %}">일식</a>
    <a href="{% url 'recipe_user:recipe_list' %}?category=chinese" class="{% if request.GET.category == 'chinese' %}category-select{% endif %}">중식</a>
    <a href="{% url 'recipe_user:recipe_list' %}?category=western" class="{% if request.GET.category == 'western' %}category-select{% endif %}">양식</a>
    <a href="{% url 'recipe_user:recipe_list' %}?category=snack" class="{% if request.GET.category == 'snack' %}category-select{% endif %}">분식</a>
    <a href="{% url 'recipe_user:recipe_list' %}?category=others" class="{% if request.GET.category == 'others' %}category-select{% endif %}">기타</a>
</div>
  <h1 class="recommend-title">추천 레시피</h1>
  <form method="post" class="recommend-container">
    {% csrf_token %}
    <div>
    <h2>게시글 중 비슷한 레시피</h2>
    {% if similar_recipes_db %}
        <ul class="similar-recipe-list">
          {% for recipe in similar_recipes_db %}
              <li>
                  <div class="similar-recipe-item">
                      <div class="similar-recipe-name">
                          <a href="{{ recipe.get_absolute_url }}">
                            <div>
                                {% if recipe.image %}
                                <img src="{{ recipe.image.url }}" alt="{{ recipe.recipe_name }}">
                                {% else %}
                                <img src="{% static 'img/empty2.svg' %}" alt="빈 이미지 아이콘">
                                {% endif %}
                            </div>
                            <p>{{ recipe.recipe_name }}</p>
                        </a>
                      </div>
                  </div>
              </li>
          {% endfor %}
        </ul>
    {% else %}
        <p class="no-recommend">비슷한 게시글이 없습니다.</p>
    {% endif %}

    <h2>추가 레시피</h2>
    {% if missing_names or csv_similar_recipes_db %}
        <ul class="similar-recipe-list">
          {% for recipe in csv_similar_recipes_db %}
              <li>
                  <div class="similar-recipe-item">
                      <div class="similar-recipe-name">
                        <p>{{ recipe.recipe_name }}</p>
                    </div>
                  </div>
              </li>
          {% endfor %}
          {% for name in missing_names %}
              <li>
                  <div class="similar-recipe-item">
                      <div class="similar-recipe-name">{{ name }}</div>
                  </div>
              </li>
          {% endfor %}
        </ul>
    {% else %}
        <p class="no-recommend">추가로 추천할 레시피가 없습니다.</p>
    {% endif %}
</div>
    <button type="submit">목록</button>
  </form>
{% endblock %}
