.clothing-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.title-underline {
    margin: 5px auto 10px auto;
    width: 200px;
    height: 2px;
    background-color: var(--dark--gray--color);
}
.recycle-instructions {
    width: 70%;
    padding: 20px;
    background-color: var(--light--yellow--color);
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.recycle-instructions > h2 {
    font-weight: bold;
    font-size: 20px;
}
.recycle-instructions > p {
    line-height: 1.2;
}
