.recipe-nav {
    width: 100%;
    height: 50px;
    background-color: var(--main--yellow--color);
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.recipe-list-mention {
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    width: 80%;
}
.recipe-list-popular {
    margin: 10px auto;
    /* border: 1px solid black; */
    height: 150px;
    display: flex;
    width: 80%;
    background-color: var(--light--gray--color);
}
.recipe-list-popular img {
    max-width: 50%;
    max-width: 100%;
    height: 150px;
}
.recipe-list-popular  div {
    padding: 10px;
}
.recipe-list-popular h2 {
    font-weight: bold;
}
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.recipe-search-container {
    border-radius: 20px;
    padding: 10px;
    width: calc(80% - 40px);
    border: 3px solid var(--dark--gray--color);
}
.recipe-search-icon {
    width: 40px;
    height: 40px;
}
.recipe-list-btn-box {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: 10px auto 0 auto;
}
.recipe-list-btn {
    background-color: var(--main--red--color);
    color: #fff!important;
    padding: 10px;
    border-radius: 10px;
}
.recipe-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px auto;
    width: 80%;
}
.recipe-list-post {
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
    background-color: var(--light--gray--color);
}
.recipe-list-img {
    /* width: 180px; */
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin: 0 auto;
}
.recipe-list-icon {
    width: 180px;
    height: 150px;
    margin: 0 auto;
}
.recipe-post-name {
    font-weight: bold;
    font-size: 18px;
    height: 36px;
    overflow: hidden;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 5px;
}
.pagination strong {
    font-weight: bold;
}