{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/img/allo_logo.jpg" type="image/x-icon">
    <title>ALLO</title>
    {% block head %} {% endblock %}
</head>
<body>
    <header id="header">
        <a href="/" id="header-logo">
            <img src="/static/img/allo_logo.jpg" alt="올로 로고 이미지" id="allo-logo-img1">
            <img src="/static/img/ALLO.svg" alt="올로 로고 이미지" id="allo-logo-img2">
        </a>
        <nav id="header-nav">
            <img src="/static/img/search2.png" alt="검색창 아이콘" id="notification-icon">
            <img src="/static/img/notification2.png" alt="알림창 아이콘" id="search-icon">
            <div id="hamburger-btn">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </nav>
        <div id="sidebar">
            <a class="sidebar-category" href="">분리수거</a>
            <a class="sidebar-category" href="">인테리어</a>
            <a class="sidebar-category" href="{% url 'recipe:recipe_list' %}">요리</a>
            <a class="sidebar-category" href="{% url 'post_list' %}">커뮤니티</a>
            <a class="sidebar-category" href="{% url 'user:login' %}">마이페이지</a>
        </div>
    </header>
    <div class="main-container">
        {% block content %}

        {% endblock %}
    </div>
    <footer id="footer">
        © ALLO. 2024 All rights reserved.
    </footer>    
</body>
<script src="/static/js/main.js"></script>
{% block script %}

{% endblock %}
</html>