{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="/static/css/interior/interior_create.css">
{% endblock %}
{% block content %}
<h2>새 인테리어</h2>
<form method="post" enctype="multipart/form-data" class="interior-create-form">
    {% csrf_token %}
    {{ form.as_p }}
    
    <div id="furniture_fields">
        <input type="text" name="furniture_list[]" class="form-control">
    </div>
    <button type="button" onclick="addFurnitureField()" class="interior-furniture-add-btn">+가구 추가</button>
    
    <button type="submit" class="interior-create-btn">작성하기</button>
</form>
{% endblock %}
{% block script %}
<script src="/static/js/interior/interior_create.js"></script>
{% endblock %}