{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="interior-header">
    <h1>{{ post.title }}</h1>
</div>
<div class="interior-detail">
    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="interior-detail-img">
    <p>{{ post.author }} - {{ post.created_at }}</p>
    <p>카테고리: {{ post.get_category_display }}</p>
    <p>{{ post.content }}</p>
</div>
<div class="interior-actions">
    {% if request.user == post.author %}
    <a href="{% url 'interior_user:interior_update' post.pk %}">수정</a>
    <a href="{% url 'interior_user:interior_delete' post.pk %}">삭제</a>
    {% endif %}
    <button id="like-button" data-post-id="{{ post.pk }}">
        {% if request.user in post.likes.all %}
        좋아요 취소
        {% else %}
        좋아요
        {% endif %}
    </button>
    <span id="likes-count">{{ post.total_likes }}</span>
    <button id="bookmark-button" data-post-id="{{ post.pk }}">
        {% if request.user in post.bookmarks.all %}
        북마크 취소
        {% else %}
        북마크
        {% endif %}
    </button>
    {% if request.user != post.author %}
        {% if friends %}
            <button class="btn btn-success">친구 중</button>
        {% elif friend_request_sent %}
            <button class="btn btn-warning">신청함</button>
        {% elif friend_request_received %}
            <button class="btn btn-info">친구 요청 대기 중</button>
        {% else %}
            <button id="friend-request-button" data-username="{{ post.author.username }}" class="btn btn-success">친구 추가</button>
        {% endif %}
    {% endif %}
</div>
{% if comments %}
  <p class="interior-detail-comment-title">{{ comments|length }}개의 댓글이 있습니다.</p>
  <ul>
    {% for comment in comments %}
      <li class="interior-detail-comment-container">
        <div class="interior-detail-comment-user">
          {{ comment.user }}
          {% if user == comment.user %}
          <form action="{% url 'interior_user:comments_delete' post.pk comment.id %}" method="POST" class="d-inline">
              {% csrf_token %}
              <input type="submit" value="삭제" class="interior-detail-comment-delete">
          </form>
          {% endif %}
      </div>
      <div>
        {{ comment.content }}
      </div>
    </li>
  {% empty %}
    <p class="interior-detail-comment-title">작성된 댓글이 없습니다.</p>
  {% endfor %}
</ul>
{% endif %}
{% if request.user.is_authenticated %}
<h3 class="interior-detail-comment-title">댓글을 작성해주세요!</h3>
<form method="post" action="{% url 'interior_user:comments_create' post.pk %}">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" class="interior-detail-comment-btn" value="댓글 작성">
  </form>
{% else %}
  <p class="interior-detail-before-login">댓글을 작성하려면 <a href="{% url 'users_user:login' %}">로그인</a>하세요.</p>
  
{% endif %}

<div class="btn-div">
    <a href="{% url 'interior_user:interior_list' %}" class="interior-detail-btn">목록</a>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/interior/interior_detail.js' %}"></script>
{% endblock %}