{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/interior/interior_list.css">
{% endblock %}
{% block content %}
<div class="interior-nav">
    <a href="{% url 'interior_user:interior_list' %}?category=all" class="{% if category == 'all' %}active{% endif %}">전체</a>
    <a href="{% url 'interior_user:interior_list' %}?category=modern" class="{% if category == 'modern' %}active{% endif %}">모던</a>
    <a href="{% url 'interior_user:interior_list' %}?category=classic" class="{% if category == 'classic' %}active{% endif %}">클래식</a>
    <a href="{% url 'interior_user:interior_list' %}?category=industrial" class="{% if category == 'industrial' %}active{% endif %}">인더스트리얼</a>
    <a href="{% url 'interior_user:interior_list' %}?category=scandinavian" class="{% if category == 'scandinavian' %}active{% endif %}">스칸디나비안</a>
    <a href="{% url 'interior_user:interior_list' %}?category=bohemian" class="{% if category == 'bohemian' %}active{% endif %}">보헤미안</a>
</div>
<div class="interior-create-btn-div">
    <a href="{% url 'interior_user:interior_new' %}" class="interior-create-btn">작성하기</a>
</div>
<div class="interior-list-big-container">
    {% for post in posts %}
    <a href="{% url 'interior_user:interior_detail' post.pk %}" class="interior-list-post">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="interior-list-img">
            <h2>{{ post.title }}</h2>
    </a>
    {% endfor %}
</div>
{% endblock %}
