{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block content %}
<div class="interior-header">
    <h1>{{ post.title }}</h1>
</div>
<div class="interior-detail">
    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="interior-detail-img">
    <p>{{ post.author }} - {{ post.created_at }}</p>
    <p>카테고리: {{ post.get_category_display }}</p>
    <p>{{ post.content }}</p>
</div>
<div class="interior-actions">
    {% if request.user == post.author %}
    <a href="{% url 'interior_user:interior_update' post.pk %}">수정</a>
    <a href="{% url 'interior_user:interior_delete' post.pk %}">삭제</a>
    {% endif %}
    <button id="like-button" data-post-id="{{ post.pk }}">
        {% if request.user in post.likes.all %}
        좋아요 취소
        {% else %}
        좋아요
        {% endif %}
    </button>
    <span id="likes-count">{{ post.total_likes }}</span>
    <button id="bookmark-button" data-post-id="{{ post.pk }}">
        {% if request.user in post.bookmarks.all %}
        북마크 취소
        {% else %}
        북마크
        {% endif %}
    </button>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/interior/interior_detail.js' %}"></script>
{% endblock %}
