{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="/static/css/interior/interior_list.css">
{% endblock %}
{% block content %}
<div class="interior-nav">
    <a href="{% url 'interior_user:interior_list' %}?category=all{% if query %}&q={{ query }}{% endif %}" class="{% if category == 'all' %}category-select{% endif %}">전체</a>
    <a href="{% url 'interior_user:interior_list' %}?category=modern{% if query %}&q={{ query }}{% endif %}" class="{% if category == 'modern' %}category-select{% endif %}">모던</a>
    <a href="{% url 'interior_user:interior_list' %}?category=european{% if query %}&q={{ query }}{% endif %}" class="{% if category == 'european' %}category-select{% endif %}">유럽풍</a>
    <a href="{% url 'interior_user:interior_list' %}?category=classic{% if query %}&q={{ query }}{% endif %}" class="{% if category == 'classic' %}category-select{% endif %}">클래식</a>
    <a href="{% url 'interior_user:interior_list' %}?category=natural{% if query %}&q={{ query }}{% endif %}" class="{% if category == 'natural' %}category-select{% endif %}">내추럴</a>
    <a href="{% url 'interior_user:interior_list' %}?category=colorful{% if query %}&q={{ query }}{% endif %}" class="{% if category == 'colorful' %}category-select{% endif %}">컬러풀</a>
    <a href="{% url 'interior_user:interior_list' %}?category=other{% if query %}&q={{ query }}{% endif %}" class="{% if category == 'other' %}category-select{% endif %}">기타</a>
</div>
<form method="GET" action="{% url 'interior_user:interior_list' %}" class="interior-search-form">
    <input type="text" name="q" placeholder="검색어를 입력하세요" value="{{ query }}" class="interior-search-container">
    <input type="image" src="/static/img/search2.png" class="interior-search-img">
    {% if category != 'all' %}
    <input type="hidden" name="category" value="{{ category }}">
    {% endif %}
</form>

{% if query %}
    <h2 class="search-results-heading">검색어 : {{ query }}</h2>
{% endif %}

{% if not query and popular_post %}
    <div class="interior-popular-container">
        <h2>지금 인기있는 인테리어!</h2>
        <a href="{% url 'interior_user:interior_detail' popular_post.pk %}" class="interior-popular-post">
            <img src="{{ popular_post.image.url }}" alt="{{ popular_post.title }}" class="interior-popular-img">
            <div>
                <div class="interior-popular-info">
                    <h3>{{ popular_post.title }}</h3>
                    <h4>{{ popular_post.author }}</h4>
                    <p>{{ popular_post.created_at }}</p>
                </div>
                <div class="interior-popular-react">
                    <img src="/static/img/full-heart.svg" alt="좋아요 수">
                    <p>{{ popular_post.total_likes }}</p>
                    <img src="/static/img/full-bookmark.svg" alt="북마크 수">
                    <p>{{ popular_post.total_bookmarks }}</p>
                </div>
            </div>
        </a>
    </div>
{% endif %}
<div class="interior-create-btn-div">
    <a href="{% url 'interior_user:interior_new' %}" class="interior-create-btn">작성하기</a>
</div>
<div class="interior-list-big-container">
    {% if posts|length > 0 %}
        {% for post in posts %}
        <a href="{% url 'interior_user:interior_detail' post.pk %}" class="interior-list-post">
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="interior-list-img">
                <h2 class="interior-list-post-title">{{ post.title }}</h2>
        </a>
        {% endfor %}
    {% else %}
        <p class="no-results">게시글이 없습니다.</p>
    {% endif %}
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/interior/interior_category.js' %}"></script>
{% endblock %}