{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="/static/css/interior/interior_create.css">
{% endblock %}
{% block content %}
<div class="interior-header">
    <div class="interior-categoty">이벤트</div>
    <div class="interior-categoty">채팅방</div>
    <div class="interior-categoty">커뮤니티</div>
</div>
<div class="interior-title-box">
    자유게시판
</div>
<h1>
    {% if form.instance.pk %}
    Edit
    {% else %}
    Create
    {% endif %}
    Post
</h1>
<form method="post" class="interior-create-container" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    
    <label for="furniture_list">Furniture List</label>
    <div id="furniture_fields">
        {% if form.instance.furniture_list %}
            {% for item in form.instance.furniture_list.splitlines %}
                <input type="text" name="furniture_list[]" class="form-control" value="{{ item }}">
            {% endfor %}
        {% else %}
            <input type="text" name="furniture_list[]" class="form-control">
        {% endif %}
    </div>
    <button type="button" onclick="addFurnitureField()">Add More Furniture</button>
    
    <button type="submit">Submit</button>
</form>
<a href="{% url 'interior_user:interior_list' %}">Back to Home</a>
{% endblock %}