{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/users/friend.css">
{% endblock %}
{% block content %}
<div class="friend-title">{{ user.username }}님의 친구</div>
<h3>친구 요청</h3>
<ul class="friend-received-big-container">
    {% for request in received_requests %}
        <li class="friend-received-container" id="request-{{ request.id }}">
            {% if request.from_user.profile_image %}
                <img src="{{ request.from_user.profile_image.url }}" alt="프로필 사진" class="mypage-img">
            {% else %}
                <img src="/static/img/user.svg" alt="기본 프로필 사진" class="mypage-img">
            {% endif %}
            <div class="friend-received-info">
                <div class="friend-received-info-mention">
                    <p class="friend-received-name">{{ request.from_user.username }}</p>
                    <p>님이 친구 요청을 보냈습니다.</p>
                </div>           
                <div class="friend-received-container-btns">
                    <button class="btn btn-success" onclick="handleFriendRequest('accept', {{ request.id }})">수락</button>
                    <button class="btn btn-danger" onclick="handleFriendRequest('decline', {{ request.id }})">거절</button>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
<h3>친구 목록</h3>
<ul>
    {% for friend in friends %}
        <li>
            <a href="{% url 'users_user:friend_profile' friend.username %}">{{ friend.username }}</a>
            <button class="btn btn-danger" onclick="deleteFriend('{{ friend.username }}')">삭제</button>
        </li>
    {% endfor %}
</ul>
{% endblock %}
{% block script %}
<script>
    function getCsrfToken() {
        const cookieValue = document.cookie.split('; ')
            .find(row => row.startsWith('csrftoken='))
            .split('=')[1];
        return cookieValue;
    }

    function handleFriendRequest(action, requestId) {
        let url = '';
        if (action === 'accept') {
            url = "{% url 'community_user:accept_friend_request' 0 %}".replace('0', requestId);
        } else if (action === 'decline') {
            url = "{% url 'community_user:decline_friend_request' 0 %}".replace('0', requestId);
        }
        
        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCsrfToken(),
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                document.getElementById(`request-${requestId}`).remove();
                location.reload();  // 페이지 새로고침
            } else {
                alert(data.message);
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function deleteFriend(username) {
        const url = `{% url 'users_user:delete_friend' 'username' %}`.replace('username', username);
        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCsrfToken(),
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
            if (response.ok) {
                location.reload();  // 페이지 새로고침
            } else {
                alert('친구 삭제에 실패했습니다.');
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}
