{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/users/friend.css">
{% endblock %}
{% block content %}
<div class="friend-title">{{ user.username }}님의 친구</div>
<h3>친구 요청</h3>
<ul class="friend-received-big-container">
    {% for request in received_requests %}
        <li class="friend-received-container" id="request-{{ request.id }}">
            {% if request.from_user.profile_image %}
                <img src="{{ request.from_user.profile_image.url }}" alt="프로필 사진" class="mypage-img">
            {% else %}
                <img src="/static/img/user.svg" alt="기본 프로필 사진" class="mypage-img">
            {% endif %}
            <div class="friend-received-info">
                <div class="friend-received-info-mention">
                    <p class="friend-received-name">{{ request.from_user.username }}</p>
                    <p>님이 친구 요청을 보냈습니다.</p>
                </div>           
                <div class="friend-received-container-btns">
                    <button class="btn btn-success" onclick="handleFriendRequest('accept', {{ request.id }}, '{{ request.from_user.username }}')">수락</button>
                    <button class="btn btn-danger" onclick="handleFriendRequest('decline', {{ request.id }})">거절</button>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
<h3>친구 목록</h3>
<ul id="friend-list">
    {% for friend in friends %}
        <li>
            {% if friend.profile_image %}
                <img src="{{ friend.profile_image.url }}" alt="프로필 사진" class="mypage-img">
            {% else %}
                <img src="/static/img/user.svg" alt="기본 프로필 사진" class="mypage-img">
            {% endif %}
            <p class="community-friend-name">{{ friend.username }}</p>
        </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
{% block script %}
<script>
    function getCsrfToken() {
        const cookieValue = document.cookie.split('; ')
            .find(row => row.startsWith('csrftoken='))
            .split('=')[1];
        return cookieValue;
    }

    function handleFriendRequest(action, requestId, username = '') {
        let url = '';
        if (action === 'accept') {
            url = `/community/accept_friend_request/${requestId}/`;
        } else if (action === 'decline') {
            url = `/community/decline_friend_request/${requestId}/`;
        }

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCsrfToken(),
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert(data.message);
                document.getElementById(`request-${requestId}`).remove();
                if (action === 'accept' && username !== '') {
                    addToFriendList(username);
                }
            } else {
                alert(data.message);
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function addToFriendList(username) {
        const friendList = document.getElementById('friend-list');
        const newFriend = document.createElement('li');
        const friendLink = document.createElement('a');
        friendLink.href = `/users_user/friend_profile/${username}/`;
        friendLink.textContent = username;
        newFriend.appendChild(friendLink);
        friendList.appendChild(newFriend);
    }
</script>
{% endblock %}
