{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="/static/css/users/login.css">
{% endblock %}
{% block content %}
<div class="user-nav">
    <a href="{% url 'user:signup' %}">회원가입</a>
    <a href="{% url 'user:login' %}" class="user-nav-click">로그인</a>
</div>
{% if user.is_authenticated %}
    로그인 성공!
    {{ user.username }}님 환영합니다. 
    <a href="{% url 'user:logout' %}">로그아웃</a>
{% else %}

 <form action="" method="POST" class="login-big-container">
    {% csrf_token %}
    <div class="login-section">
        <p class="login-sub">아이디</p>
        <input name="username" type="text" class="login-container">    
    </div>
    <div class="login-section">
        <p class="login-sub">비밀번호</p>
        <input name="password" type="password" class="login-container">
    </div>
    <input type="submit" value="로그인" class="login-btn">
    <div id="login-signup-btn">
        <p>아직 회원이 아니라면? </p>
        <a href="{% url 'user:signup' %}">회원가입</a>
    </div>
 </form>
{% endif %}
{% endblock %}