<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 편집</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header>
        <h1>ALLO</h1>
    </header>
    <main>
        <h2>프로필 편집</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'users_user:change_pw' %}" class="pw-change-btn"> 비밀번호 변경 </a>
            <button type="submit">저장</button>
        </form>
    </main>
</body>
</html>