{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="/static/css/users/signup.css">  
{% endblock %}
{% block content %}
<div class="user-nav">
    <a href="{% url 'user:signup' %}" class="user-nav-click">회원가입</a>
    <a href="{% url 'user:login' %}">로그인</a>
</div>
<form action="" method="POST" class="signup-big-container">
    {% csrf_token %}
    <div class="signup-section">
        <p class="signup-sub">아이디</p>
        <input name="username" type="text" class="signup-container">
    </div>
    <div class="signup-section">
        <p class="signup-sub">비밀번호</p>
        <input name="password" type="password" class="signup-container">
    </div>
    <div class="signup-section">
        <p class="signup-sub">닉네임</p>
        <input name="nickname" type="text" class="signup-container">
    </div>
    <div class="signup-section">
        <p class="signup-sub">이메일</p>
        <input name="email" type="text" class="signup-container">    
    </div>
    
    <input type="submit" value="회원가입" class="signup-btn">

</form>
{% endblock %}