{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/users/signup.css' %}">
{% endblock %}
{% block content %}
<div class="user-nav">
    <a href="{% url 'users_user:signup' %}" class="user-nav-click">회원가입</a>
    <a href="{% url 'users_user:login' %}">로그인</a>
</div>
<form action="" method="POST" class="signup-big-container">
    {% csrf_token %}
    <div class="signup-section">
        <p class="signup-sub">아이디</p>
        <input name="username" type="text" class="signup-container">
        <span class="error">{{ errors.username }}</span>
    </div>
    <div class="signup-section">
        <p class="signup-sub">비밀번호</p>
        <input name="password" type="password" class="signup-container">
        <span class="error">{{ errors.password }}</span>
    </div>
    <div class="signup-section">
        <p class="signup-sub">이름</p>
        <input name="name" type="text" class="signup-container">
        <span class="error">{{ errors.name }}</span>
    </div>
    <div class="signup-section">
        <p class="signup-sub">이메일</p>
        <input name="email" type="email" class="signup-container">
        <span class="error">{{ errors.email }}</span>
    </div>
    <input type="submit" value="회원가입" class="signup-btn">
</form>
{% endblock %}
