.map-btn {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 20px auto 10px auto;
    justify-content: end;
    gap: 5px;
}
.map-btn img {
    height: 20px;
}
.clothing-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.title-underline {
    margin: 5px auto 10px auto;
    width: 200px;
    height: 2px;
    background-color: var(--dark--gray--color);
}
.recycle-instructions {
    width: 70%;
    padding: 20px;
    background-color: var(--light--yellow--color);
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.recycle-instructions > h2 {
    font-weight: bold;
    font-size: 20px;
}
.recycle-instructions > p {
    line-height: 1.2;
}
.trash-main-btn {
    color: #fff !important;
    background-color: var(--main--red--color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    display: block;
    width: 143px;
}