.trash-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.title-underline {
    margin: 5px auto 10px auto;
    width: 200px;
    height: 2px;
    background-color: var(--dark--gray--color);
}
.recycle-instructions {
    width: 70%;
    padding: 20px;
    background-color: var(--light--gray--color);
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.recycle-instructions h2 {
    font-weight: bold;
    font-size: 20px;
}
.recycle-instructions p {
    line-height: 1.2;
}
.recycle-example {

}
.btn-container {
    display: flex;
}
.trash-main-btn {
    background-color: var(--main--red--color);
    color: #fff !important;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}